body{
    background-image: url(../../../imagenes/Fondos/Fondo-cineticos.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Exo 2", Helvetica, sans-serif;
}   

.menu {
    flex-direction: row;
    height: 5.7vw;
    max-width: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0px;
    transition: top 0.3s ease-in-out; 
}

.menu.oculto {
    top: -100px; /* Empuja la barra 85 píxeles hacia arriba (sacándola del monitor) */
    
}

.logo-nombre {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 25%;
}

.logo {
    height: clamp(30px, 5.3vw, 85px);
    width: auto;
    margin-right: 0;
    padding-top: 1vw;
    padding-left: 1vw;
    filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 1));
}

.nombre {
    margin: 0;
    font-size: 3rem;
    padding-left: 1%;
    padding-top: 1.3vw;
    color: rgb(252, 252, 252);
    filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 1));
    font-weight: 100;
}

.search-box {
     display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    padding: 6px 14px;
    
    /* LA MAGIA EFICIENTE: Le dice al buscador que use el espacio del centro 
       y que tenga un tamaño máximo controlado en PC para que no se deforme */
    flex-grow: 1; 
    max-width: 320px; 
    transition: all 0.3s ease;
     position: relative;
    width: 100%;
    max-width: 500px;
    background-color: #f7f8f81e;
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 40%;
    margin-top: 35px;
    transition: all 1s ease-in-out
}

.search-bar {
    width: 100%;
    padding: 15px 25px;
    background: transparent;
    border: none; /* Elimina el borde por defecto */
    outline: none; /* Elimina el borde de enfoque por defecto */
    font-size: 16px;
    color: #faf7f7;
    border-radius: 30px;
}

/* Efecto visual al hacer clic en el buscador */
.search-box:focus-within {
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.384);
}

.search-box:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.384);
}

.menu-right {
    display: flex;
    width: 40%;
    padding-left: 3%;
    margin-right: 0;
    gap: 30px
}

.menu-right a {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
    padding-top: 7.9%;
    transition: all 0.4s ease-in-out;
    text-decoration-line: none;
    color: white;
    letter-spacing: 3px;
    font-weight: 100;
}

.menu-right a:visited {
    color: white;
}

.menu-right a:hover {
    transform: scale(1.1);
}

.menu-right p:hover {
    transform: scale(1.1);
}

#portada {
    background-image: url(../../../imagenes/Armamento/Proyectiles/Cineticos/AP-sherman-slow.png);
    background-color: rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 10;        /* Pone la portada por encima del bloque negro para que la sombra no se tape */

    /* 👇 LA TRICIÓN: Proyecta el brillo celeste hacia abajo */
    /* X-offset  Y-offset  Difuminado  Expansión  Color(Celeste blanquecino) */
    box-shadow: 0px 20px 20px 1px rgba(3, 3, 3, 0.76);
}

.cineticos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    gap: 100px;
}

.cineticos-img {
    background-image: url(../../../imagenes/Armamento/Proyectiles/Cineticos/APFSDS-URSS.jpg);
    background-size: cover;
    width: 28%;
    display: flex;
    height: 80%;
    margin-top: 5.5%;
    border-radius: 7px;
    flex-direction: column;
}

.cineticos-img p {
    margin: 0;
    padding-left: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
    font-weight: 150;
    font-size: 0.7rem;
}

.cineticos-resumen {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 4px;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 8px;
    margin-top: 5.5%;
    line-height: 1.5;
    padding: 30px;
    
}

.cineticos-resumen h2 {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 300;
    margin-top: 0;
}

.subtitulo-1 {
    display: flex;
    justify-content:center;
    font-weight: 300;
}

.seccion-1 {
    background-image: url(../../../imagenes/Fondos/Fondo-cineticos.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.calibre-completo {
   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.lista-l {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 30px;
    margin-left: 5%;
    height: 80%;

}


.ap-card {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    height: 47%;
}

.ap-img-stats {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

.ap-img {
    display: flex;
    height: 90%;
    margin-left: 9.5%;
    transform: rotate(-1.3deg);
    margin-top: 2%;
    transition: all 0.7s ease-in-out;

}

.ap-img:hover {
    transform: scale(1.4);
    filter: drop-shadow(1px 2px 50px rgba(188, 188, 189, 0.233));
}

.ap-referencia {
    font-size: 0.8rem !important;
    color: #ffffff93;
    margin-left: 25% !important;
}

.ap-stats {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 3%;
}

.ap-stats p {
    display: flex;
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
}

.ap-sigla {
    height: 12.2%;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 100;
    padding-left: 11.5%;
    margin-top: 1.5%;
}

.apc-card {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    height: 47%;
}

.apc-img-stats {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.apc-img {
    display: flex;
    height: 90%;
    margin-left: 8%;
    margin-top: 2%;
    transition: all 0.7s ease-in-out;

}

.apc-img:hover {
    transform: scale(1.4);
    filter: drop-shadow(1px 2px 50px rgba(188, 188, 189, 0.233));
}

.apc-referencia {
    font-size: 0.8rem !important;
    color: #ffffff93;
    margin-left: 25% !important;
}

.apc-stats {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 3%;
}

.apc-stats p {
    display: flex;
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
}

.apc-sigla {
    height: 12.2%;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 100;
    padding-left: 10%;
    margin-top: 1.5%;
}

.lista-r {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 30px;
    height: 80%;
}

.apcbc-card {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    height: 47%;
}

.apcbc-img-stats {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.apcbc-img {
    display: flex;
    height: 90%;
    margin-left: 9%;
    margin-top: 2%;
    transition: all 0.7s ease-in-out;

}

.apcbc-img:hover {
    transform: scale(1.4);
    filter: drop-shadow(1px 2px 50px rgba(188, 188, 189, 0.233));
}

.apcbc-referencia {
    font-size: 0.8rem !important;
    color: #ffffff93;
    margin-left: 25% !important;
}

.apcbc-stats {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 3%;
}

.apcbc-stats p {
    display: flex;
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
}

.apcbc-sigla {
    height: 12.2%;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 100;
    padding-left: 7.5%;
    margin-top: 1.5%;
}

.apbc-card {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    height: 47%;
}

.apbc-img-stats {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.apbc-img {
    display: flex;
    height: 90%;
    margin-left: 8%;
    margin-top: 2%;
    transition: all 0.7s ease-in-out;

}

.apbc-img:hover {
    transform: scale(1.4);
    filter: drop-shadow(1px 2px 50px rgba(188, 188, 189, 0.233));
}

.apbc-referencia {
    font-size: 0.8rem !important;
    color: #ffffff93;
    margin-left: 25% !important;
}

.apbc-stats {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 3%;
}

.apbc-stats p {
    display: flex;
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
}

.apbc-sigla {
    height: 12.2%;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 100;
    padding-left: 8.5%;
    margin-top: 1.5%;
}

.mas-temas {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 20%;
    gap: 35px;

}

.explosivos-video-titulo {
    display: flex;
    border-style: solid;
    border-width: 2px;
    height: 90%;
    margin: 0;
    margin-left: 2.5%;
    position: relative;

}

.explosivos-titulo {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
    color: black;
    font-weight: 300;
    width: 100%;
    filter: drop-shadow(1px 2px 3px rgb(247, 247, 247));
}

.hibridos-video-titulo {
    display: flex;
    position: relative;
    border-style: solid;
    border-width: 2px;
    height: 90%;
    margin: 0;
}

.hibridos-titulo {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
    color: black;
    font-weight: 300;
    width: 100%;
    filter: drop-shadow(1px 2px 3px rgb(247, 247, 247));
}   

.defectuosos-video-titulo {
    display: flex;
    border-style: solid;
    border-width: 2px;
    height: 90%;
    margin: 0;
}

.prototipos-video-titulo {
    display: flex;
    position: relative;
    border-style: solid;
    border-width: 2px;
    height: 90%;
    margin: 0;
}

.prototipos-titulo {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
    color: black;
    font-weight: 300;
    width: 100%;
    filter: drop-shadow(1px 2px 3px rgb(247, 247, 247));
}   

.porta-contenedores-video-titulo {
    display: flex;
    border-style: solid;
    border-width: 2px;
    height: 90%;
    margin: 0;
}

.subcalibrados {
    background-image: url(../../../imagenes/Fondos/Fondo-cineticos.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*---------------------------------------------------REPRODUCTOR-----------------------------------------------------------*/
/* --- POSICIONAMIENTO DEL REPRODUCTOR TÁCTICO --- */
.music-widget {
    position: fixed;            /* Lo clava flotando en la pantalla aunque bajes con el scroll */
    bottom: 25px;               /* Separación de 25 píxeles desde el borde inferior */
    right: 25px;                /* Separación de 25 píxeles desde el borde derecho */
    z-index: 2500;              /* Capa ultra alta para que flote por encima del fondo borroso */
}

/* --- DISEÑO DEL BOTÓN CIRCULAR (Estilo tus tarjetas) --- */
.btn-music {
    width: 55px;                /* Ancho del botón */
    height: 55px;               /* Alto del botón */
    border-radius: 50%;         /* ALTO VALOR: Convierte el botón cuadrado en un círculo perfecto */
    
    /* ESTÉTICA KERNID: Usamos tu color verde oscuro translúcido y tus líneas discontinuas */
    background-color: rgba(28, 43, 41, 0.65); 
    border: 1px dashed rgba(255, 255, 255, 0.4); 
    
    color: #ffffff;             /* Color blanco para los emojis */
    font-size: 1.3rem;          /* Tamaño del emoji de música dentro del círculo */
    cursor: pointer;            /* Transforma el cursor en la manito (👆) al pasar el mouse */
    
    /* FLEXBOX INTERNO: Centra el emoji perfectamente en la mitad del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Sombra sutil para darle volumen */
    transition: all 0.5s ease;  /* Suaviza los cambios de animaciones a 0.2 segundos */
}

/* --- EFECTO VISUAL AL PASAR EL MOUSE (HOVER) --- */
.btn-music:hover {
    transform: scale(1.1);      /* El círculo crece un 10% de forma fluida */
    border-style: solid;        /* Tus líneas discontinuas se vuelven una línea sólida continua */
    background-color: rgba(28, 43, 41, 0.9); /* El fondo se vuelve más oscuro y denso */
}

/* --- EL TOQUE DE BRILLO BALÍSTICO (Cuando la música suena) --- */
.btn-music.activo {
    border-color: #ffb703;      /* El borde cambia a un amarillo de advertencia/balística */
    box-shadow: 0 0 15px rgba(255, 183, 3, 0.4); /* Crea un resplandor luminoso amarillo */
}  
/*---------------------------------------------------REPRODUCTOR-----------------------------------------------------------*
